:root{
    --primary: hsl(217,91%,5%);
    --accent: hsl(277,89%,40%);
    --text: hsl(0, 0%, 23%); 
    --headings: hsl(0, 0%, 89%);
    --primary-two: hsla(217, 92%, 5%, 0.9);
    --button: hsl(277, 85%, 30%);
}